<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.phonegap.plugins.VoiceRecognizer" version="1.0.0">
  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>
  
  <name>VoiceRecognizer</name>
  <description>Recognizes speech input</description>
  <license>MIT</license>
  
  <js-module src="SpeechRecognizer.js" name="VoiceRecognizer">
    <clobbers target="plugins.VoiceRecognizer" /> 
  </js-module>
  
  <platform name="android">
    <source-file src="SpeechRecognizer.java" target-dir="src/com/phonegap/plugins/VoiceRecognizer" />
    <source-file src="LanguageDetailsChecker.java" target-dir="src/com/phonegap/plugins/VoiceRecognizer" />
    
    <config-file target="res/xml/config.xml" parent="/*">
	  <feature name="VoiceRecognizer" >
	    <param name="android-package" value="com.phonegap.plugins.VoiceRecognizer.VoiceRecognizer"/>
	  </feature>
	</config-file>
    
  </platform>
  
</plugin>
